/* PHP Quiz App Styles  */
/* variables */
:root {
  /* color palette: https://coolors.co/d9dbf1-cbccd6-abadbc-414466-0a0f47 */
  --oxford-blue: #0A0F47;
  --deep-komaru: #414466;
  --silver-chalice: #ABADBC;
  --light-gray: #CBCCD6;
  --azureish-white: #D9DBF1;
  --main-bg-color: var(--oxford-blue);
  --main-font-color: var(--azureish-white);
  --button-font-color: var(--deep-komaru);
  --button-font-color: var(--oxford-blue);
  --button-bg-color: var(--silver-chalice);
  --button-bg-hover-color: var(--azureish-white);

}
body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3%;
  height: 50vh;
}

.invisible {
  visibility: hidden;
}

.text-center {
  text-align: center;
}
#quiz-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#quiz-box form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.quiz {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid var(--button-bg-color);
  color: var(--button-font-color);
  background-color: var(--button-bg-color);
  padding: 15px;
  margin: 10px;
  /* transition: .5s ; */
  text-decoration: none;
}
.btn:hover {
  background-color: var(--button-bg-hover-color);
  color: #000;
}

.btn:focus {
  outline: none;
}

#toast {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

#gameOverMessage {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  #quiz-box form {
    flex-direction: row;
    margin-top: 0;
  }
}